<!DOCTYPE html>
<html>
  <style>
    .nav {
      height: 900px;
      width: 29%;
      overflow-y: auto;
      float: left;
    }

    .nav ul,
    .nav ol {
      padding-left: 20px;
      padding-bottom: 10px;
    }

    .nav-url {
      width: 70%;
    }

    .nav-view {
      height: 900px;
      width: 70%;
      border: 5px inset gray;
    }
  </style>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(document).ready(function($) {
      setInterval(function() {
        $('.nav-url').val(window.frames['nav-view'].document.location.href);
      }, 1000);
    });
  </script>
  <body>
    <div class="nav">
      <h1>PDF automation demos:</h1>
      <ol>
        <li><b>wkhtmltopdf basic demo</b>
          <ol type="a">
            <li><a href="/admin/" target="nav-view">View Django admin</a></li>
            <li><a href="{% url 'print_to_pdf' 'MyAdminFileName' '/admin/' %}"
                   target="_blank"
              >Create PDF with<br/>
              <tt>http://localhost:8000/print-to-pdf/MyAdminFileName/admin/</tt></a>
            </li>
          </ol>
        </li>

        <li><b>reportlab &amp; PyPDF2 demo</b>
          <ol type="a">
            <li><a href="/static/sample1.pdf" target="nav-view">View sample1.pdf</a></li>
            <li><a href="/static/sample2.pdf" target="nav-view">View sample2.pdf</a></li>
            <li><a href="{% url 'add_header' 'Testing 123' %}"
                   target="_blank">Create concatenated pdf with a header</a>
            </li>
          </ol>
        </li>

        <li><b>wkhtmltopdf headers/footers demo</b>
          <ol type="a">
            <li><a href="/static/tall.html" target="nav-view">View tall.html</a></li>
            <li><a href="{% url 'print_to_pdf_with_headers' 'Tall' '/static/tall.html' %}"
                   target="_blank"
              >Create PDF with<br/>
              <tt>http://localhost:8000/print-to-pdf-with-headers/Tall/static/tall.html</tt></a>
            </li>
          </ol>
        </li>
      </ol>
    </div>

    <input type="text" class="nav-url"/>
    <iframe class="nav-view" name="nav-view">
    </iframe>
  </body>
</html>
